{
  "parser": "babel-eslint", // Fixes error for static class properties
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "no-console": 2,
    "no-tabs": 2
  }
}
